:root {
  --animation-spin: spin 1000ms linear infinite both;
  --animation-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.spin {
  animation: var(--animation-spin);
}

@keyframes spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 180deg;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
