.container {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas: "avatar title type" "avatar text indicators";
  align-items: center;
  background-color: transparent;
  border: none;
  padding: calc(var(--spacing-1) * 2.25) calc(var(--spacing-1) * 4);
  cursor: pointer;
  width: 100%;
  text-align: left;

  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

  & span {
    font-weight: 600;
    color: var(--text-primary);
    grid-area: "title";
    align-self: flex-start;

    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    overflow: hidden;
  }

  & > [role="figure"] {
    grid-area: "avatar";
    margin-right: var(--spacing-m);
  }

  &:hover {
    background-color: var(--states-background-card-hover);
  }

  &:active {
    background-color: var(--states-background-card-pressed);
  }

  &[aria-selected="true"] {
    background-color: var(--states-background-card-selected);
  }
}

.type {
  padding: calc(var(--spacing-1) * 0.75) calc(var(--spacing-1) * 1.25);
  background-color: var(--button-primary);
  color: var(--text-primary-inverse-static);
  border-radius: calc(var(--rounded-sm) / 4);
  grid-area: "type";
}
