.form-container {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  padding: calc(var(--spacing-1) * 4);
  overflow-y: auto;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  width: min(100%, 21rem);

  align-items: center;
  box-shadow: var(--shadow-100);
  background-color: var(--background-primary);
  gap: calc(var(--spacing-1) * 5);

  padding: calc(var(--spacing-1) * 8);
  border-radius: var(--rounded-sxl);

  @media screen and (max-width: 48rem) {
    padding: calc(var(--spacing-1) * 6) calc(var(--spacing-1) * 5);
  }
}
