.form {
  display: grid;
  grid-template-columns: repeat(1, min(100dvw - 8rem, 21rem));

  align-items: center;
  box-shadow: var(--shadow-100);
  background-color: var(--background-primary);
  gap: calc(var(--spacing-1) * 5);

  padding: calc(var(--spacing-1) * 8);
  border-radius: var(--rounded-2xl);

  & input {
    padding: var(--spacing-s-half) var(--spacing-m);
    border-radius: var(--rounded-sm);
    color: var(--text-primary);
    background-color: var(--background-tertiary);
    border: none;
    height: 3.25rem;
  }
}
