.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
}

.form {
  display: grid;
  grid-template-columns: repeat(1, min(100dvw - 8rem, 21rem));

  align-items: center;
  box-shadow: var(--shadow-100);
  background-color: var(--background-primary);
  gap: calc(var(--spacing-1) * 5);

  padding: calc(var(--spacing-1) * 8);
  border-radius: var(--rounded-sxl);
}
