.message {
  display: flex;
  padding: calc(var(--spacing-1) * 2) calc(var(--spacing-1) * 4);
  border-radius: var(--rounded-sm);

  width: fit-content;
  max-width: 50vw;
  background-color: var(--background-tertiary);

  gap: calc(var(--spacing-1) * 1.75);

  &[data-is-outgoing] {
    align-self: flex-end;
  }

  & time {
    align-self: flex-end;
    translate: 8px;
  }

  @media screen and (max-width: 48rem) {
    max-width: 85%;
  }
}
